.bg-image {
    background-image: url('../../assets/react.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 25rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    transition: transform 0.3s ease;
}

/* .login-card:hover {
    transform: scale(1.05);
} */

.card-title {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}